<h5 class='u-text-center'>Have your say!</h5>

<form method='post' action='https://api.staticman.net/v2/entry/weremoose/theuglyloaf/master/conversations'>
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <input name="fields[name]" type="text" placeholder='Name'>
  <input name="fields[email]" type="email" placeholder='Email address'>
  <textarea name="fields[message]" placeholder='Your message'></textarea>
  <button class="c-btn" value="Button">Add comment</button>
</form>
