/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  color: $color-text;
  font-size: $font-size-medium;
  font-family: $font-serif;
  font-weight: $font-weight-regular;
  line-height: $line-height-medium;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans-serif;
  font-weight: $font-weight-bold;
}

*::selection {
  color: $color-white;
  background: $color-brand;
}
