---
layout: default
---

{% include base_path %}

{% assign author = site.authors[page.author] %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--3-4-m o-grid__col--center'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>

        <div class='c-tags u-text-center'>
          {% for tag in page.tags %}
            <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>

        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }} | {{ page.content | reading_time }} read</time>

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}
          {{ content }}
        </div>

        
        <hr>

        {% if page.author %}
          {% include author.html %}
        {% endif %}

        <!--
        {% include subscribe-form.html %}
        <hr>
        {% include disqus.html %}


        {% include staticman-form.html %}
        <hr>
        {% include staticman-comments.html %} -->

      </article>

    </div>
  </div>
</div>
